.card {
    border-radius: 15px;
    background-color: #fff8ef5c;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
}

form .btn {
    width: 100%;
}

.form-item {
    position: relative;
}

.form-item .icon {
    position: absolute;
    right: 10px;
    color: #595c8d;
    top: 3px;
}

